

.content2 {
    border: 1px solid #a8a8a8;
    background: #fff;
    color: #000000!important;
    font-family: "Times New Roman", serif;
    font-size: 12pt;
}

.content3 {
    border: 1px solid #a8a8a8;
    background: #fff;
    color: #ff0080!important;
    font-family: "Times New Roman", serif;
    font-size: 12pt;
}

.content4 {
    font-weight: lighter!important;
}



